# LAMBDA FUNCTION

In [2]:
def addition(a,b):
    return a+b

In [3]:
addition(4,5)

9

In [4]:
addition = lambda a,b:a+b

In [5]:
addition(15,46)

61

In [7]:
def even(number):
    if number%2==0:
        return True

In [9]:
even(7)

In [11]:
even = lambda number : number%2==0

In [12]:
even(6)

True

In [13]:
addition = lambda a,b,c:a+b+c

In [14]:
addition(4,6,9)

19

# MAP FUNCTION

In [18]:
def even_or_odd(number):
    if number % 2 == 0:
        return "The number {} is even".format(number)
    else:
        return "The number {} is odd".format(number)

In [19]:
even_or_odd(6)

'The number 6 is even'

In [20]:
lst = [1,2,3,4,5,6,7,8,9]

In [22]:
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd']

# FILTER FUNCTION

In [23]:
def even_or_odd(number):
    if number % 2 == 0:
        return True

In [24]:
lst = [1,2,3,4,5,6,7,8,9]

In [26]:
list(filter(even_or_odd,lst))

[2, 4, 6, 8]

In [28]:
list(filter(lambda number:number % 2 == 0,lst))

[2, 4, 6, 8]

# LIST COMPREHENSION

In [29]:
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i * i)
    return lst1

In [30]:
lst = [1,2,3,4,5,6,7,8,9]

In [31]:
lst_square(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
[i * i for i in lst ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[i * i for i in lst if i % 2 == 0]

[4, 16, 36, 64]

# STRING FORMAT

In [5]:
def greeting(name):
    return "Hello {} Welcome to the community".format(name)

In [6]:
greeting("niraj")

'Hello niraj Welcome to the community'

# ITERATOR

In [8]:
lst = [1,2,3,4,5,6,7,8,9]

In [9]:
for i in iter(lst):
    print(i)

1
2
3
4
5
6
7
8
9

# OOPS

In [2]:
class Car:
    pass

In [3]:
car1 = Car

In [5]:
car1.windows = 5
car1.doors = 4

In [6]:
print(car1.windows)

5

In [16]:
class Car:
    def __init__(self,windows,doors,enginetype):
        self.windows = windows
        self.doors = doors
        self.enginetype = enginetype    
    def self_driving(self):
        return "The name of the car is {}".format(self.enginetype)

In [20]:
Car1 = Car(2,4,"Petrol")

In [17]:
Car2 = Car(5,8,"Electric")

In [21]:
Car1.self_driving()

'The name of the car is Petrol'